<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Poke Api
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let pokemon of listaPokemon"> 
    <ion-thumbnail slot="start">
      <img [src]="urlImg + pokemon.foto">
    </ion-thumbnail>

    <ion-label>
      <div> 
        <h3>{{pokemon.nome | titlecase}}</h3>  
        <ion-badge *ngFor="let tipo of pokemon.tipos" [color]="tipo">{{tipo | uppercase}}</ion-badge>  

      </div>
    </ion-label>

    <ion-chip [color]="pokemon.tipos">
      <ion-label>{{pokemon.numero}}</ion-label>
    </ion-chip>
  </ion-item>

</ion-content>
